<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: rgb(233, 243, 242);">
    <a class="navbar-brand" routerLink="/"><span style="color: black;">Cake</span> Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="btn" routerLink="/home">Home</a>
            </li> &nbsp; &nbsp;

            <li>
                <a class="btn" routerLink="/addProductCategory">Add Category and Products</a>&nbsp; &nbsp;
            </li>
            <li>
                <a class="btn" routerLink="/login">Login</a>&nbsp; &nbsp;
            </li>
            <li>
                <a class="btn" routerLink="/">View Orders</a>&nbsp; &nbsp;
            </li>
            <li>
                <button class="btn">Logout</button>
            </li>
        </ul>
    </div>
</nav>
